[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pylint = "*"
yarl = "<1.2"
fuzzywuzzy = "*"
python-levenshtein = "*"
numpy = "*"
scikit-image = "*"
pillow = "6.2.1"

[dev-packages]

[requires]
python_version = "3.7"
