[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pylint = "*"
yarl = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
numpy = "*"
scikit-image = "*"
pillow = "*"
matplotlib = "*"
red-discordbot = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
